<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap&quot; rel=stylesheet">
        <title>Remove Password</title>
    </head>

    <body>
        <section class="container">
            <form class="singin-form">
                <h1 class="title">Recupere sua Senha</h1>
                <div class="box-margin">
                    <div class="box-retrieve">
                        <span class="link-retrieve">Fique tranquilo! Nós te enviaremos um link de recuperação em seu e-mail.</span>
                    </div>
                </div>

                    <div class="box-margin">
                        <label class="label-text" for="e-mail">Email</label>
                        <input class="enter-text" type="text" name="e-mail" id="e-mail" placeholder="Digite seu e-mail">
                    </div>

                <button class="send">Enviar link de recuperação</button>
                    <div class="box-retrieve">
                        <a href="./index.html" class="singin-link">Voltar para página de login</a>
                    </div>
            </form>
        </section>

    </body>

</html>